:root {
  --landing: #F2F5F6;
  --prime:#043A53;
  --yellow:#F0B73F;

}

/* Navbar Start */
.signupbutton {
background-color:var(--prime) !important;

}
.navbuttons{
    border-radius: 1rem !important;
}


.active{
    color: var(--prime) !important;
    font-weight: bold !important;
}
/* Navbar End */

/* Landing */
.landing{
    background-color: var(--landing);
    min-height: calc(100vh - 60px);
}
.trustco{ 
    color: var(--prime);
}
.trust-pilot-logo{
    height: 30px;
}

/* Landing */

/* Video */
.video{
    background-color: var(--prime);
}
.video span{
    color: #F0B73F;
}
/* Video */